ul#xxx
{
	list-style: none;
	font-size: .95em;
	margin: 30px 0;
	padding: 0;
}

ul#xxx li.slid h3,
ul#xxx li.slid a
{
	display: block;
	width: 120px;
	padding: 5px 18px;
	margin: 10px;
	margin-bottom: 5px;
}

ul#xxx li.slid h3
{
	color: #fff;
	background:#333 url(heading_bg.jpg) repeat-y;
	font-weight: 200;
}

ul#xxx li.slid a
{
	color: #999;
	background:#222 url(tab_bg.jpg) repeat-y;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}

ul#xxx li.slid a:hover { color: #ffff66; }