.f1{
	width: 880px;
	height: 320px;
	margin: 0 auto;
}
.f1-1{
	width: 880px;
	height: 10px;
	background: black;
	margin-bottom: 10px;
	float: left;
}
.f1-2{
	width: 880px;
	height: 300px;
	background: black;
	margin: 0 auto 10px auto;
	float: left;
}
.title{
	
}
.photo1{
	
}
.f2{
	width: 880px;
	height: 460px;
	margin: 0 auto;
}
.f2-1{
	width: 120px;
	height: 460px;
	margin-right: 20px;
	float: left;
}
.table2{
	width: 120px;
	height: 40px;
	margin-top: ;
	margin-bottom: ;
}
.table3{
	width: 120px;
	height: 40px;
	margin-top: ;
	margin-bottom: ;
}
.f2-2{
	width: 600px;
	height: 460px;
	margin-right: 20px;
	float: left;
}
.table1{
	width: 600px;
	height: 40px;
	margin-bottom: 10px;
	background: black;
	float: left;
}
.video{
	width: 600px;
	height: 400px;
	background: black;
	float: left;
}
.f2-3{
	width: 120px;
	height: 460px;
	float: left;
}
.table4{
	width: 120px;
	height: 40px;
}
.table5{
	width: 120px;
	height: 40px;
}
