a{
	text-decoration: none;
	align-content: center;
	color: rgba(0, 0, 0, 0.5);
	font-size: x-large;
	display:block;
}
a:visited {
	color: black;
	text-decoration: none;
}

a:active {
	color: gray;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: none;
}
.f1{
	width: 880px;
	height: 320px;
	margin: 0 auto;
}
.f1-1{
	width: 880px;
	height: 50px;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	margin-top:10px ;
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.f1-2{
	width: 880px;
	height: 400px;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 0 auto 30px auto;
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
li{
	float: left;
	width: 120px;
	height: 40px;
	text-align: center;
}
.title{
	
}
.photo1{
	
}
.f2{
	width: 880px;
	height: 460px;
	margin: 0 auto;
}
.f2-1{
	width: 120px;
	height: 460px;
	margin-right: 20px;
	float: left;
}
.table2{
	width: 120px;
	height: 40px;
	margin-top: 100px;
	margin-bottom: 200px;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.table2:hover{
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
}
.table3:hover{
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
}
.table4:hover{
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
}
.table5:hover{
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
}
.table3{
	width: 120px;
	height: 40px;
	margin-bottom: 100px;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.f2-2{
	width: 600px;
	height: 460px;
	margin-right: 20px;
	float: left;
}
.table1{
	width: 600px;
	height: 40px;
	margin-bottom: 20px;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.video{
	width: 600px;
	height: 400px;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	margin-bottom: 20px;
	box-shadow: 10px 10px 5px #888888;
}
.f2-3{
	width: 120px;
	height: 460px;
	float: left;
}
.table4{
	width: 120px;
	height: 40px;
	margin-top: 100px;
	margin-bottom: 200px;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.table5{
	width: 120px;
	height: 40px;
	margin-bottom: 100px;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.f3{
	width: 880px;
	margin: 20px auto 20px auto;
}
.box1{
	width: 500px;
	height: 720px;
	margin-right:80px ;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
h4{
	margin-left: 10px;
	margin-right: 10px;
}
.box2{
	width: 300px;
	height: 200px;
	margin-top:30px ;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.box2{
	width: 300px;
	height: 200px;
	margin-top:30px ;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.box2:hover{
	border: 3px;
	background-color: black;
	background-image: url(../img/food2.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.box3{
	width: 300px;
	height: 200px;
	margin-top:30px ;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.box3:hover{
	border: 3px;
	background-color: black;
	background-image: url(../img/9.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.box4{
	width: 300px;
	height: 200px;
	margin-top:30px ;
	background: black;
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	box-shadow: 10px 10px 5px #888888;
}
.box4:hover{
	border: 3px;
	background-color: black;
	background-image: url(../img/；；.png);
	background-repeat: no-repeat;
	background-position: center;
}
h1:hover{
	color: black;
	color: rgba(0,0,0,0);
}
.thef{
	width: 600px;
	height: 600px;
	margin: 0 auto;
}
.thes{
	width: 600px;
	height: 6400px;
	margin: 0 auto;
}
.thet{
	width: 600px;
	height: 600px;
	margin: 0 auto;
}
.the0{
	width: 100%;
	background-image: url(../img/00.png);
	background-repeat: no-repeat;
}

